{% if posts %}
    {% for post in posts %}
        <h3 class="text-primary">
            <a href="{{ url_for('.show_posts', post_id=post.id) }}">
                {{ post.title }}
            </a>
        </h3>
        <p>
            <!-- ! 输出部分文章内容 -->
            {{ post.body | striptags | truncate }}
            <small>
                <a href="{{ url_for('.show_post', post_id=post.id) }}">
                    Read More
                </a>
            </small>
        </p>
        <small>
            comments:<a href="{{ url_for('.show_post', post_id=post.id) }}#comments">{{post.comments|length}}</a>&nbsp;&nbsp;
        </small>
    {% endfor %}
{% else %}
{% endif %}